# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.FPS Zombie Game.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\__PROJETS\__GITHUB\unityGameDevCourse_Holistic3D\FPS Zombie Game\.idea\.idea.FPS Zombie Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
